.alert-container {
display: flex;
justify-content: center;
align-items: center;
background-color: #42556f;
background-size: cover;
height: 100vh;
}

.alert-card-container {
    height: 90%;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #3c597c;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #ffb700;
}

.text-container {
margin-left: 30px;
}

.alert-heading {
text-align: center;
color: rgb(0, 0, 0);
background-image: linear-gradient(to right, #3c597c,rgb(118, 255, 161),rgb(72, 203, 255),#3c597c);
}

.text-para {
color: #ffffff;
font-weight: 500;
font-size: 20px;
}

.icons-style {
margin-top: 25px;
font-size: 30px;
}

.success-color {
color: #2dca73;
}

.error-color {
color: #ff0b37;
}

.warning-color {
color: #ffb800;
}

.info-color {
color: #0f81e0;
}